#!/bin/bash
JACKHOME="$HOME/jackd"
cp $JACKHOME/.jackdrc.play $JACKHOME/.jackdrc
$HOME/bin/setupaudio "desktop" "PlaybackJacksinkPulseAudioJACKSinkPulseAudioMixer" "output:iec958-stereo+input:analog-stereo"
#"PlaybackBuiltinAudioDigitalStereoIEC958PulseAudioMixer"
